:root {
  /* App Colors */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-purple);
  --color-text: var(--color-white);

  /* Colors */
  --color-black: #424242;
  --color-gray: #9e9e9e;
  --color-purple: #7986cb;
  --color-white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}

table,
tr,
td {
  text-align: center;
}

tr,
td {
  width: 30px;
  height: 30px;
  border-radius: 10%;
  border: 1px solid var(--color-primary-variant);
}

input:focus {
  outline: none;
}

input:focus::placeholder {
  color: var(--color-text);
}

button:active {
  transform: scale(0.98);
}

.title {
  color: var(--color-primary);
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.level {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.level button {
  width: 300px;
  height: 50px;
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: var(--color-accent);
  color: var(--color-text);
  margin-bottom: 1rem;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
}

.level button:hover {
  cursor: pointer;
  filter: brightness(120%);
}

.setting {
  display: none;
}

.setting.open {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setting.open input {
  width: 300px;
  height: 50px;
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.setting.open button {
  width: 300px;
  height: 50px;
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: var(--color-accent);
  color: var(--color-text);
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
}

.setting.open button:hover {
  cursor: pointer;
  filter: brightness(120%);
}

.gameBoard {
  display: flex;
  justify-content: center;
}

/* .mine {
  background-color: tomato;
} */
